# Python-specific ignores
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.log

# Data directory ignores
data/*.zip
data/y_*/
data/y_train/
data/y_c_train/

# Exceptions - files to keep
!data/*.json
!data/*.ttf
!data/*.p
!data/*.yaml
!data/example_conditioning/
!data/inpainting_examples/

eval-scripts/NudeNet/*
eval-scripts/NudeNet/
CIFAR/data/
CIFAR/models/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/*-checkpoint.*
